#Image-Section {
    background-image: url("../img/bgimage.jpg");
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 20rem;
  }
  